  <h1><center>Header Partial</center></h1>
  <body style="background-color:powderblue;">
  <% if(userList[user_id]){ %>
    <div align="right">
    <form action="/logout" method="POST">
      <label for="">User: <%= userList[user_id].email %></label>
      <input type="submit" value="logout">
    </form>
    </div>
  <% } else{ %>
    <a href="http://localhost:8080/register">Registration</a><br>
    <a href="http://localhost:8080/login">Login</a>
  <% } %>

  </body>