
  <h1>Header Partial</h1>
    <body>
      <form action="/login" method="POST">
        <label for="">Log in:</label>
        <input id="login" type="text" name="username" placeholder="Enter name here" style="width: 250px">
        <input type="submit" value="Submit">
      </form>
    </body>