<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
    <% include ./partials/_header %>
  </header>
  <% if(userList[user_id]){ %>
  <%= ' long form:      ' + urls[shortURL].longUrl %> <br>
  <%= ' short form:     ' + shortURL %> <br>
  <form method="POST" action="/urls/<%= shortURL %>/">
    Update long URL
    <input type="text" name="newLongUrl">
    <input type="submit" name="update" >
    <input type="hidden" name="uid" value="<%= user_id %>" />
  </form>
  <% } else{ %>
    <p><a href="http://localhost:8080/login">You are not logged in or this url does not belong to you. Click here to visit login page</a></p><br>
    <p><a href="http://localhost:8080/register">You are not logged in or this url does not belong to you. Click here to visit registration page</a></p>
  <% } %>
  <a href="http://localhost:8080/urls/">return to home</a>
</body>
</html>