<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body>
    <header>
      <% include ./partials/_header %>
    </header>
      <% if(userList[user_id]){ %>
        <form action="/urls" method="POST" style="margin:150px;">
          <label for="longURL">Enter a URL:</label>
          <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
          <input type="submit" value="Submit">
          <input type="hidden" name="uid" value="<%= user_id %>" />
        </form>
      <% } else{ %>
        <p><a href="http://localhost:8080/login">You are not logged in. Click here to visit login page</a></p>
        </form>
      <% } %>
  </body>
</html>
