<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
    <% include ./partials/_header %>
  </header>
    <ul>
      <table style="width:100%">
        <thead>
          <tr>
            <th>Long  Url</th>
            <th>Short Url</th>
          </tr>
        </thead>
        <tbody>
          <% for (url in urls) { %>
          <tr>
          <td> <%= urls[url].longUrl %></td>
          <td> <%= url %></td>
          <td> <a href='http://localhost:8080/urls/<%= url %>'>Edit</a>
          <td> <form method="POST" action="/urls/<%= url %>/delete">
                  <input type="submit" name="delete" value="Delete Url">
                </form>
          </td>
          </tr>
          <% }; %>
        </tbody>
      </table>
    </ul>
    <a href="http://localhost:8080/urls/new">Click here to shorten your link</a>
</body>
</html>

<!--
const urls = {
url"b2xVn2": {
    longUrl: "http://www.lighthouselabs.ca",
    userID: "userRandomID"
  },
  "9sm5xK": {
    longUrl: "http://www.google.com",
    userID: "userRandomID"
  }
};
} -->