<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
    <% include ./partials/_header %>
  </header>
  <%= ' long form:      ' + urls[shortURL] %> <br>
  <%= ' short form:     ' + shortURL %> <br>
  <form method="POST" action="/urls/<%= shortURL %>/">
    Update long URL
    <input type="text" name="newLongUrl">
    <input type="submit" name="update" >
  </form>
  <a href="http://localhost:8080/urls/">return to home</a>
</body>
</html>